body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

.tabtytul {
    /* tabelka z grafik� (nag��wek) */
    background-color: #80c2ab;
    border-bottom: 2px solid #808080
}

.tytul {
    /* kom�rka z tytu�em */
    background-color: #ee3733;
    color: #ffffff;
    border-bottom: 2px solid #c0c0c0;
}

.tytulnapis {
    /* tytu� strony z cieniem (tylko IE) */
    padding-left: 10px;
    width: 400px;
    height: 60px;
    filter: Shadow(Color=#666666, Direction=150)
}

.tabela {
    /* tabela z planem */
    border-color: #c0c0c0
}

td.nr{
background-color: #aa0000;
color: #FFF;
}

th.typ{
	background-color: #22262a;
	color: #fff;
}

a.n {
    /* nauczyciel */
    color: #000099
}

a.s {
    /* sala */
    color: #000099
}

a.k {
    /* klasa */
    color: #000099
}

.p {
    /* przedmiot */
    color: #000000;
    font-weight: bold
}

.op {
    /* napis */
    font: 10px verdana, sans-serif
}

@media print {
    .tabtytul {
        /* nag��wek do druku */
        display: none
    }
}